*{
	margin:0;
	padding:0;
}
body, button, input, select, textarea { color:#454545; }  
body{
	font:18px/1.5 "Helvetica Neue",
	Helvetica,Arial,
	"Microsoft Yahei",
	"Hiragino Sans GB",
	"Heiti SC",
	"WenQuanYi Micro Hei",
	sans-serif;
}
body { 
	word-wrap:break-word; 
	word-break:break-all; 
	height:100%; 
	position: relative;
	overflow-x: hidden;
	text-shadow:1px 1px 1px #999;
	font-family: "微软雅黑";
	} 
button, input, select, textarea, h1, h2, h3, h4, h5, h6 { font-size:100%; }  
h2, h3 { font-size:20px; }  
button, input, select, textarea, label { 
	vertical-align:middle; 
	outline:none; 
	cursor: pointer;
	resize:none;
}  
img { 
	vertical-align:middle;
	border:none; 
	display:inline-block;
}  
ul,li{
	list-style: none;
}
ul,li{list-style-type: none;}

/*IE8去除虚线框*/
a:focus{outline: none;}
a { 
	text-decoration:none;
	vertical-align:baseline; 
	cursor:pointer;
	color: #222;
}  
/*清除浮动 2种方式*/
.clear{clear: both;}
.clear:after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}
h3{
	font-weight: 400;
	font-size: 18px;
	color:#222;
}

/*.main{
	position: absolute;
	width:1920px;
	left:50%;
	top:0;
	margin-left: -960px;
}*/

/*head 样式*/
.header_wrap{
	width: 1105px;
	margin:0 auto;
	height: 103px;
	line-height: 100px;
}
.header_wrap img{
	display: block;
	width:114px;
	height: 70px;
	float: left;
	margin:15px 0;
}
.header_wrap .fr_nav{
	width: 556px;
	float: right;
	margin:30px 0;
}
.header_wrap .fr_nav li{
	float: left;
	margin-left:1px;
}
.header_wrap .fr_nav li,
.header_wrap .fr_nav li a{
	width: 110px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	display: block;
	color:#222;
}

.header_wrap .fr_nav li a:hover{
	background: #00e7ff;
}

/*banner 样式*/
.banner{
	height: 520px;
	position: relative;
	overflow: hidden;
}
.pic_box{
	width: 1920px;
	position: absolute;
	left:50%;
	margin-left: -960px;
}
.pic_box li{
	position: absolute;
	left: 0;
	top:0;
	/*display: none;*/
}
.banner_btn{
	width: 90px;
	position: absolute;
	left: 50%;
	margin-left: -45px;
	bottom:5px;
}
.banner_btn li{
	float: left;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	background-image: url(../images/index_btn_06.png);
	cursor: pointer;
}
.banner_btn li.current{background-image: url(../images/public_03.png);}
*/

/*分页样式*/
.pro_pages{
	width: 160px;
	margin:30px auto 0;
}
.pro_pages li{
	float: left;
}
.pro_pages li a {
	width: 30px;
	height: 32px;
	border:1px solid #999;
	display: block;
	line-height: 32px;
	text-align: center;
}
.pro_pages .left_right{
	margin:0 14px;
}
.pro_pages .none{
	border:none;
}
.pro_pages li a:hover{
	background: #999;
	color: #fff;
}
.pro_pages li .none:hover{
	background: #fff;
	color: #222;
}



/*底部样式*/
.footer{
	width: 1920px;
	height: 100px;
	background: #89d7df;
	text-align: center;
	margin: 0 auto;
}
.footer ul{
	font-size: 14px;
	color:#222;
	width: 500px;
	margin:0 auto;
	padding-top: 28px;
}
.footer li{
	float: left;
}
.footer li a{
	font-size: 14px;
	color:#222;
	display: block;
	height: 25px;
	line-height: 25px;
}
.footer li:hover a{
	color: blue;
}
.footer li span{
	padding:11px;
}
.footer li a:hover span{
	color: #222;
}
.footer p{
	font-size: 14px;
	color: #222;
	text-align: center;
}


